.f12 {
  font-size: 12px;
}
.f16 {
  font-size: 16px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f28 {
  font-size: 28px;
}
.f32 {
  font-size: 32px;
}
.f36 {
  font-size: 36px;
}
.f40 {
  font-size: 40px;
}
.f44 {
  font-size: 44px;
}
.f48 {
  font-size: 48px;
}
.f52 {
  font-size: 52px;
}

.spacedText {
  letter-spacing: 4px;
}
