a {
  color: #fff;
}
i {
  font-size: 1.5rem;
}

.highlight_text {
  color: #fff !important;
}
.icon_small {
  font-size: 1rem;
}
.brandedManagement {
  .box {
    display: none;
  }
}

table {
  td {
    .actions {
      .action {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 100px;
        text-align: center;
        line-height: 40px;
        border: 1px solid transparent;
        i {
          font-size: 20px;
        }
        &:hover {
          color: #db6574;
          border-color: #db6574;
        }
      }
    }
  }
}

.selection {
  color: #fff !important;
  width: 100%;
}

.select2-selection__rendered {
  color: #fff !important;
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  background-color: #2d3035 !important;
  border: 1px solid #40444b !important;
  padding: 0.375rem 0.75rem;
  height: auto !important;
}

.select2-hidden-accessible {
  height: 100%;
}
.select2-container .select2-selection--single {
  height: 100%;
}

.select2-dropdown {
  background-color: #2d3035;
  border: 1px solid #40444b;
}
.select2-container--default .select2-results__option--selected {
  background-color: #2d3035;
}
.select2-search__field {
  background-color: #4e535c;
  border: none !important;
  padding: 0.375rem 0.75rem !important;

  color: #fff;
  &::placeholder {
    color: #fff !important;
  }
}

.select2-results {
  background-color: #2d3035 !important;
}

.select2-search .select2-search--dropdown {
  padding: 10px 15px !important;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #3a3f49 !important;
  color: white;
}
.select2-selection {
  &:focus {
    border-color: #3a3f49 !important;
  }
}
.select2-selection {
  position: relative !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 50% !important;
  right: 10px;
  transform: translateY(-50%) !important;
}

.tabswrapper {
  .nav-tabs {
    border-bottom: 1px solid transparent;
  }
  .nav-item {
    .nav-link {
      color: #fff;
      padding: 15px;
      border: 1px solid transparent;
      border-radius: 0;
      &.active {
        color: #fff;
        background-color: #db65752a;
      }
    }
  }
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #40444b;
  background-color: #2d3035;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #2d3035;
  border: 1px solid #40444b;
  color: #fff;
}
.select2-results__option--selected {
  background-color: #404958 !important;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  border-color: #40444b;
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border-color: #40444b !important;
}

.select2-search .select2-search--inline,
.select2-search__field {
  width: 100% !important;
  display: block !important;
}

.select2-search .select2-search--inline {
  display: block !important;
  width: 100% !important;
}
.form-control {
  color: #fff !important;
}

.imagesOrder {
  .featured {
    img {
      width: auto !important;
      height: 60px;
      border-radius: 5px;
      object-fit: cover;
      object-position: center center;
    }
  }
  ul.image-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;

    display: flex;
    gap: 10px;
    li {
      position: relative;

      .delete {
        position: absolute;
        display: none;
        height: 20px;
        line-height: 20px;
        border-radius: 20px;
        width: 20px;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        text-align: center;
        background-color: #fff;
        cursor: pointer;
        &:hover {
          background-color: $a;
          i {
            color: #fff;
          }
        }
        i {
          font-size: 14px;
        }
      }
      cursor: move;
      img {
        width: auto !important;
        height: 60px;
        border-radius: 5px;
        object-fit: cover;
        object-position: center center;
      }
      &:hover {
        .delete {
          display: block !important;
        }
      }
    }
  }
}

.withImages {
  padding: 25px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.ui-state-highlight {
  width: 60px;
  border: none;
  border-radius: 5px !important;
  background: $a;
}

.flipx {
  transform: scaleX(-1);
}

.productIncluded {
  .product {
    position: relative;
    border: none;
    background-color: rgba(255, 255, 255, 0.06);

    .remove {
      text-align: center;
      position: absolute;
      top: 10px;
      right: 10px;
      i {
        background-color: rgba(#fff, 0.1);
        color: #fff !important;
        cursor: pointer;
        border-radius: 100px;
        height: 30px;
        width: 30px;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .productList {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  article {
    border-bottom: 1px solid rgba(#fff, 0.1);
    .title {
      transition: all 0.5s ease;
    }
    &:hover {
      .title {
        color: #fff !important;
      }
    }
  }
  .tag {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px;
    border-radius: 100px;
  }
  .header {
    border-bottom: 1px solid rgba(#fff, 0.2);
  }
  .btn_default {
    i {
    }
    &:focus {
      box-shadow: none;
      border-color: transparent;
      border-radius: 0px;
    }
  }
  .form-control {
    border: none;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: -1px !important;
    border-bottom: 1px solid rgba($a, 0.5);
    &:focus {
      border-bottom-color: rgba($a, 1);
    }
  }
}

.btn {
  &:focus {
    border-color: transparent !important;
    box-shadow: none !important;
  }
}

.catalogItemView {
  .action {
    width: 200px;
    .value {
      display: flex;
      gap: 15px;
      button {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }

  .btn_a {
    display: none;
  }
  &:hover {
    .btn_a {
      display: block !important;
    }
  }
}

.campaign {
  .heading {
    .nav-tabs {
      margin: 0px !important;
      gap: 15px;
      border: none;
      .active {
        background-color: $a !important;
        color: #fff !important;
      }
    }
    .nav-link {
      border: none;
      background-color: rgba($a, 0.1) !important;
    }
  }
}

.couponTable {
  .form_add {
    background-color: rgba(#fff, 0.1);
    padding: 15px;
  }
  .listwrapper {
    .list_item {
      background-color: rgba(#fff, 0.1);
      padding: 10px 15px;
      margin-bottom: 2px;
      .list_item_data {
        .actions {
          display: flex;
          gap: 10px;

          .action {
            text-align: center;
            i {
              height: 30px;
              width: 30px;
              border-radius: 30px;
              font-size: 20px;
              cursor: pointer;
              line-height: 30px;
              background-color: rgba(#fff, 0.1);
            }
          }
        }
      }
    }
  }
}
